# Bytecode and compiled files
__pycache__
*.py[cod]
*.pyo
*.pyd

# Testing and cache directories
.pytest_cache

# Logs
logs/

# Operating system files
.DS_Store
Thumbs.db

# Temporary and backup files
*.bak
*.swp
*~

# Environment variable files
.env
!.env.example
.gitignore

# Drafts and other files
.github/workflows/run_bot.yml
.github/workflows/run_unfollow.yml